@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Tickets";
}

<h1 class="page-title">Tickets</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Project</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Name</td>
                <td>@ticket.Project.Name</td>
                <td>@ticket.Type.Name</td>
                <td>@ticket.Priority.Name</td>
                <td>@ticket.Status.Name</td>
                <td>@ticket.CreatedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>